<div class="hero-image"> 
  <nav *ngIf="desktop">
      <li (click)="allegro.scrollIntoView({ behavior: 'smooth', block: 'center' })">Korzyści</li>
      <li (click)="contact.scrollIntoView({ behavior: 'smooth', block: 'center' })">Kontakt</li>
      <li (click)="maps.scrollIntoView({ behavior: 'smooth', block: 'center' })">Dojazd</li>
  </nav>




  <main>
      <h1 *ngIf="desktop">&nbsp;Witaj na stronie <font style="color:var(--head-color)">S</font>zpargały.pl<font style="color:var(--head-color)">!</font></h1>
      <p *ngIf="mobile || tablet">Witaj na stronie <font style="color:var(--head-color)">S</font>zpargały.pl<font style="color:var(--head-color)">!</font></p>
      <button><a href="https://allegro.pl/uzytkownik/Speeedcuber?fbclid=IwAR04ktYq1QMd844_PWt9lCvLNxn7m-xZ0UOfsUTohdSHs5p21E0JBzqkUZw&bmatch=baseline-product-cl-eyesa2-engag-dict43-uni-1-1-0318">Zobacz nasze produkty</a></button>
  </main>

  <nav *ngIf="mobile || tablet">
    <li (click)="allegro.scrollIntoView({ behavior: 'smooth', block: 'start' })">Korzyści</li>
    <li (click)="contact.scrollIntoView({ behavior: 'smooth', block: 'start' })">Kontakt</li>
    <li (click)="maps.scrollIntoView({ behavior: 'smooth', block: 'start' })">Dojazd</li>
  </nav>
  
</div>

<div class="allegro" #allegro>
    <div *ngIf="desktop">
        <div class="blockAllegro">
            <div class="blockAllegroSmall" (mouseenter) ="mouseEnter(0)" (mouseleave) ="mouseLeave(0)"><img class="allegroImgSmart" src="assets/allegro-smart.png"></div>
            <div class="blockAllegroSmall" (mouseenter) ="mouseEnter(1)" (mouseleave) ="mouseLeave(1)"><img class="allegroImgSuperSprzedawca" src="assets/super-sprzedawca.png"></div>
            <div class="blockAllegroSmall" (mouseenter) ="mouseEnter(2)" (mouseleave) ="mouseLeave(2)"><img class="allegroImgCash" src="assets/cash.png"></div>
        </div>
    </div>



    <div class='allegroInnerDiv' *ngIf="mobile || tablet" >
            <div><img class='allegroSmartImg' data-aos="fade-up" src="assets/allegro-smart.png" /></div>
            <div><p data-aos="fade-up">Allegro Smart, dostępny w naszych ofertach, przy zakupach za co najmniej 40 zł gwarantuje darmową wysyłkę do Paczkomatów i punktów Żabka, Orlen i Poczta Polska. Wysyłka kurierska z pakietem Smart  jest darmowa przy zamówieniach powyżej 100 zł.</p></div>
            <div><img class='allegroSuperImg' data-aos="fade-up"  src="assets/super-sprzedawca.png" /></div>
            <div><p data-aos="fade-up">Nasz sklep na Allegro posiada odznaczenie Super Sprzedawcy - wyróżnia nas 100% pozytywnych ocen i komentarzy, najwyższy poziom obsługi klienta oraz szybka i terminowa wysyłka (zdarza się, że paczka jest u Kupującego już następnego dnia!). </p></div>
            <div><img class='allegroCashImg' data-aos="fade-up" src="assets/cash.png"></div>
            <div><p data-aos="fade-up">Duża część naszych produktów dodatkowo posiada Monety, które można wymieniać na kupony i płacić nimi podczas kolejnych zakupów.</p></div>
    </div>

    
</div>

<div class="contact" #contact>
  <section class="contact" *ngIf="mobile || tablet">
      <article class="block">
            <h3><i class="fas fa-phone-square-alt"></i>&nbsp;Zadzwoń do nas</h3>
            <p><a href="tel:726 930 900">726 930 900</a></p>
      </article>
      <article class="block">

            <h3><i class="fab fa-facebook-square"></i>&nbsp;Znajdź nas na facebooku</h3>
            <a href="https://www.facebook.com/szpargaly.sklep/">Facebok/Szpargaly</a>
      </article>
      <article class="block">
            <h3><i class="fas fa-envelope-square"></i>&nbsp;Napisz do nas maila</h3>
            <p>kontakt@szpargaly.com</p>
      </article>
      <article class="block">
            <h3>Odwiedź nasz sklep stacjonarny</h3>
            <p>Kaczanowo ul. Kaliska 67
                Wielkopolska 62-303
            </p>
      </article>
  </section>

  <section class="contactDesktop" *ngIf="desktop">
      <div class="block">
          <article>
              <h3 data-aos="fade-up"><i class="fas fa-phone-square-alt"></i>&nbsp;Zadzwoń do nas</h3>
              <p data-aos="fade-up"><a href="tel:726 930 900">726 930 900</a></p>
              <h3 data-aos="fade-up"><i class="fab fa-facebook-square"></i>&nbsp;Znajdź nas na facebooku</h3>
              <p data-aos="fade-up"><a href="https://www.facebook.com/szpargaly.sklep/">Facebok/Szpargaly</a></p>
          </article>
          <article class="second">
              <h3 data-aos="fade-up">Odwiedź nasz sklep stacjonarny</h3>
              <p data-aos="fade-up">Kacznowo ul. Kaliska 67<br>
                  Wielkopolska 62-303
              </p> 
               <h3 data-aos="fade-up">Godziny otwarcia</h3>
              <table data-aos="fade-up">
                  <tr><td>Pon - Pt:</td>&nbsp;<td>9:00-17:00</td></tr>
                  <tr><td>Sobota:</td>&nbsp;<td>9:00-14:00</td></tr>
                  <tr><td>Niedziela:</td>&nbsp;<td>Nieczynne</td></tr>
              </table>
          </article>
      </div>
      <div class="block">
            <article class="last">
                <app-app-contact></app-app-contact>
            </article>
      </div>
  </section>
</div>

  <div #maps class="maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2440.581933447756!2d17.575739915946752!3d52.28729146120108!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4704e84c8e5e9383%3A0xc87fa98e801a73a4!2sKaliska%2067%2C%2062-303%20Kaczanowo!5e0!3m2!1spl!2spl!4v1587551152958!5m2!1spl!2spl" width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>