@media(min-width: 0px){
    .hero-image{
        /* background-image: linear-gradient(to bottom, rgba(255,255,255, 0.5) 70%, rgba(255,255,255, 100)), url(../assets/main-background-mobile.jpg); */
        width: 100%;
    }
    main{
        float: left;
        padding: 5% 5%;
    }
    main p{
        font-size: 2em;
        color:grey;
        margin: 15% 0 10%;
    }
    main button{
        margin: 5% 5% 25% 5%;
        width: 90%;
        background-color: white;
        color:black;
        font-size: 1.5em;
        box-shadow: 2px 2px 30px;
        opacity: 60%;
        padding: 5% 0;
    }
    nav{
        float: left;
        width: 100%;
    }
    nav li{
        float: left;
        list-style-type: none;
        width: 80%;
        margin: 0 10%;
        text-align: center;
        padding: 10% 0;
        font-size: x-large;
        border-bottom: 1px dashed var(--head-color);
        color:grey;
    }
        /* allegro site */
    .allegro{
        margin: 20% 0 0 0;
        width: 100%;
        float: left;

    }
    .allegroInnerDiv div{
        padding: 0 10%;
        margin: 10% 0;
    }
    img.allegroSmartImg{
        width: 100%;
        align-self: center;
    }
    img.allegroSuperImg{
        width: 50%;
        margin: 0 25%;
    }
    img.allegroCashImg{
        width: 25%;
        margin: 0 37%;
    }
    .allegro p{
        color:grey;
        font-weight: bold;
        opacity: 0.8;
        text-align: justify;
    }
    
    
    /* contact site */
    .contact{
        margin: 10% 0 0;
        width: 100%;
        float: left;
        color:grey;
    }
    article.block{
        padding: 10% 0;
        float: left;
        text-align: center;
        line-height: 2em;
        width: 100%;
        border-bottom: 1px dashed var(--head-color);
        font-size: 1.5em;
    }
    article.block:last-child{
        border-bottom: 1px dashed var(--bg-color);
    }
    /* maps site */
    .maps{
        float: left;
        width: 100%;
    }
    .maps iframe{
        float: left;
        margin-top: 5%;
    }
}
@media(min-width: 500px){
    main{
        width: 80%;
        margin: 10%;
        padding: 0;
    }
    main p{
        text-align: center;
        width: 100%;
        font-size: 4em;
        margin: 5% 0 10%;
        
    }
    main button{
        font-size: 2.5em;
        width: 100;
    }
    nav{
        float: left;
        margin: 10% 0;
        border-top: 0;
    }
    nav li{
        margin: 0 10%;
        width: 80;
        padding: 3% 0;
        font-size: 2.5em;
    }
    /* allegro site */
    img.allegroSmartImg{
        width: 80%;
        margin: 0 10%;
    }
    img.allegroSuperImg{
        width: 30%;
        margin: 0 35%;
    }
    img.allegroCashImg{
        width: 20%;
        margin: 0 40%;
    }
    .allegroInnerDiv p{
        font-size: large;
    }
    /* contact site */
    section.contact p, section.contact h3{
        font-size: larger;
    }
}
@media(min-width:1025px){
    nav{
        margin: 5% 5% 5% 45%;
        width: 50%;
        height: initial;
        float: left;
    }
    nav li{
        padding: 1% 0;
        margin: 0% 1%;
        width: 30%;
        float: left;
        font-size: 2em;
    }
    nav li:hover{
        border-bottom: 1px dashed var(--bg-color);
        cursor: pointer;
        animation-name: firstAnimation;
        animation-duration: 2s;
        color: black; 
    }

    main{
        margin:0;
        padding: 5%;
        float: left;
    }
    main h1{
        border-left: 2px dashed var(--head-color);
        font-size: 4em;
        font-family: "Century Gothic";
        font-weight: lighter;
        color:grey;
        margin-bottom: 5%;
    }
    main button{
        margin: 0 25%;
        width: 50%;
        padding: 1%;
        margin-bottom: 10%;
        font-weight: lighter;
    }
    main button:hover{
        animation-name: firstAnimation;
        animation-duration: 2s;
        box-shadow: 0px;
        border-radius: 15px;
        opacity: 1; 
    }
    
    /* allegro site */
    .allegro{
        float: left;
        margin-top: 7%;

    }
    .blockAllegro{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .blockAllegroSmall{
        width: 31%;
        margin: 0;
        padding: 1%;
        text-align: center;
        height: 130px;
        color:grey;
        font: 1.2em bold;
        opacity: 1;
    }
    .blockAllegroSmall:nth-child(2){
        border-left: 2px dashed var(--head-color);
        border-right: 2px dashed var(--head-color);
    }
    .allegroImgSmart{
        margin: 5% 0;
    }
    .allegroImgSuperSprzedawca{
        width: 20%;
    }
    .allegroImgCash{
        margin: 5% 0;
        width: 10%;
    } 

    /* contact site */
    .contactDesktop{
        width: 90%;
        height: auto;
        float: left;
        margin: 0 5%;
    }
    .block{
        height: 99%;
        width: 39%;
        float: left;
        font-size: 1.5em;
        text-align: justify;
        margin: 0 5%;
        padding: 5% 0;
        border: 0px;
        color: grey;
    }
    article{
        height: 49%;
        float: left;
        width: 100%;
        padding: 10% 0;
        margin: 0;
        border-bottom: 2px dashed var(--head-color);
        border-right: 2px dashed var(--head-color);
    }
   
    .block h3{
        height: 50px;
        padding: 0px 0 0 0;
        margin: 0 0 0 0;
    }
    .second h3:first-child{
        height: 70px;
    }
    .second{
        border-bottom: 0px;
    }
    .block p{
        height: 80px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .block a{
        text-decoration: none;
        color:grey;
    }
    table{
        width: 90%;
        margin: 0 5%;
        padding: 0;
        text-align: justify;
    }
    .last{
        height: 650px;
        padding: 10% 0 0 0;
        border: 0px;
    }
    .last input{
        width: 90%;
        height: 30px;
        margin: 5% 5%;
        border: 2px solid grey;
        border-radius: 0 15px 0 15px;
        font-size: 20px;
        color: grey;
        font-weight: bold;
    }
    .last p{
        float: left;
        height: auto;
        width: 100%;
    }
    .last textarea{
        height: 270px;
        width: 90%;
        margin: 5% 5% 1%;
        border-radius: 0 15px 0 15px;
        border: 2px solid grey;
    }
    .buttonForm{
        width: 50%;
        margin: 0 25%;
        border: 1px inset;
        font-weight: bold;
        background-color: white;
        color:black;
        padding: 1% 0;
        opacity: 60%;
    }
    .buttonForm:hover{
        animation-name: firstAnimation;
        animation-duration: 2s;
        opacity: 1; 
    }


    /* maps site */
    .maps{
        float: left;
        width: 100%;
    }
    article .block{
        height: 70%;
        width: 90%;
        border-left: 2px solid var(--head-color);
        margin: 0;
        padding: 150px 5% 40px 5%;
        float: left;
        position: relative;
    }
    article .block2{
        height: 50%;
        width: 30%;
        border: 2px solid grey;
        margin: 0;
        margin-left: 40%;
        padding: 70px 50px 40px 50px;
        float: left;
        position: relative;
        border-radius: 20px 0px;
        text-align: center;
    }
}
@keyframes firstAnimation {
    0% {
        left: 0;
        color:var(--head-color);
        background-color:white;
    }
    100%{
        left: 100%;
        box-shadow: 0px;
        opacity: 1;
        border-radius: 15px;
    }
}