
    <form [formGroup]='contactForm' (ngSubmit)="onSubmit()" name="contact" method="POST" data-netlify="true">
        <p style='display: none;'>
            <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
        </p>
        <h3 data-aos="fade-up"><i class="fas fa-envelope-square"></i>&nbsp;Napisz do nas maila</h3>
        <p>
        <label data-aos="fade-up">Podaj swój adres email <br />
            <input type="email" name="email" formControlName="email" required/></label>
        </p>
        <p>
        <label data-aos="fade-up">Co chcesz nam powiedzieć?<br />
            <textarea name="message" formControlName="message" required></textarea></label>
        </p>
        <p>
        <button class='buttonForm' data-aos="fade-up">Wyślij wiadomość</button>
        </p>
    </form>
