@font-face {
    font-family: 'Century Gothic';
    src: url('assets/fonts/CenturyGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root{
    --head-color: #D5A408;
    --bg-color: ghostwhite;
}
body{
    background-color: var(--bg-color);
}
* {
    padding: 0;
    margin: 0;
    font-family: "Century Gothic";
}
button{
    border-radius: 0px ;
    box-shadow: 0px;
    font-style: normal;
    cursor: pointer;
    border: 1px inset;
    font-weight: bold;
}
a{
    text-decoration: none;
    color:inherit;
}